@import '../../variables';

.login-container{
    padding-top: 80px;
}

label{
    font-size: 1.6em;
    color: $accent;
    margin-bottom:21px;
}

form{
    padding-top: 65px;
    text-align: center;
}

input, input:focus, input:active, input:hover, input:visited {
    margin-bottom: 21px;
    background-color: transparent;
    border: 1px solid $accent;
    color: $accent;
    outline: none;
    text-align: center;
}